<div class="container text-center">
    <h3 class="mb-4 mt-4 pt-2">Przeglądaj nasze kategorie:</h1>
        <hr class="my-4 bg-dark" style="max-width:1080px ; margin:auto ">
        <div class="row ms-1 me-1 fw-bold">
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/car" class="text-dark text-decoration-none">
                    <img src="/category_svg/car.svg" alt="Car" height="96" width="96">
                    <p class="my-2 fs-5">Motoryzacja</p>
                </a>

            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12 ">
                <a href="/category/house" class="text-dark text-decoration-none">
                    <img src="/category_svg/house.svg" alt="House" height="96" width="96">
                    <p class="my-2 fs-5">Nieruchomości</p>
                </a>

            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/work" class="text-dark text-decoration-none">
                    <img src="/category_svg/work.svg" alt="Work" height="96" width="96">
                    <p class="my-2 fs-5">Praca</p>
                </a>


            </div>
            <div class="  col-lg-2 col-md-4 col-sm-6 col-xs-12 ">
                <a href="/category/house" class="text-dark text-decoration-none">
                    <img src="/category_svg/furniture.svg" alt="Furniture" height="96" width="96">
                    <p class="my-2 fs-5">Dom i ogród</p>
                </a>

            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/gaming" class="text-dark text-decoration-none">
                    <img src="/category_svg/gaming.svg" alt="Gaming" height="96" width="96">
                    <p class="my-2 fs-5">Elektronika</p>

                </a>

            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/clothes" class="text-dark text-decoration-none">
                    <img src="/category_svg/clothes.svg" alt="Clothes" height="96" width="96">
                    <p class="my-2 fs-5">Moda</p>
                </a>

            </div>
        </div>
        <div class="row ms-1 me-1 fw-bold">
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/baby" class="text-dark text-decoration-none">
                    <img src="/category_svg/baby.svg" alt="Baby" height="96" width="96">
                    <p class="my-2 fs-5">Dla dzieci</p>
                </a>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/sport" class="text-dark text-decoration-none">
                    <img src="/category_svg/sport.svg" alt="Sport" height="96" width="96">
                    <p class="my-2 fs-5 fs-5">Sport</p>
                </a>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/music" class="text-dark text-decoration-none">
                    <img src="/category_svg/music.svg" alt="Music" height="96" width="96">
                    <p class="my-2 fs-5 fs-5">Muzyka</p>
                </a>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/repair" class="text-dark text-decoration-none">
                    <img src="/category_svg/repair.svg" alt="Repair" height="96" width="96">
                    <p class="my-2 fs-5">Usługi</p>
                </a>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/hotel" class="text-dark text-decoration-none">
                    <img src="/category_svg/hotel.svg" alt="Hotel" height="96" width="96">
                    <p class="my-2 fs-5">Noclegi</p>
                </a>
            </div>
            <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12  ">
                <a href="/category/free" class="text-dark text-decoration-none">
                    <img src="/category_svg/free.svg" alt="Free" height="96" width="96">
                    <p class="my-2 fs-5">Oddam za darmo</p>
                </a>
            </div>
        </div>
</div>