<footer class="text-center text-lg-start bg-light text-dark ">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
   
      <div class="me-5 d-none d-lg-block">
        <span>Nasze social media:</span>
      </div>      

      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>      
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <p>
              <a href="#!" class="text-dark">Aplikacje mobilne PLX.pl</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Pomoc</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Wyróżnione</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Ofeta dla firm</a>
            </p>
            <p>
                <a href="#!" class="text-dark">Blog</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Regulamin</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Polityka prytwatności</a>
              </p>
          </div>
          <!-- Grid column -->

           <!-- Grid column -->
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <p>
              <a href="#!" class="text-dark">Reklama</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Jak działa PLX.pl</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Zasady bezpieczeństwa</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Mapa kategorii</a>
            </p>
            <p>
                <a href="#!" class="text-dark">Popularne wyszukiwania</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Kariera</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Ustawienia plików cookie</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Kontakt
            </h6>
            <p><i class="fas fa-home me-3"></i> przykładowy adres</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              przykład@PLX.pl
            </p>
            <p><i class="fas fa-phone me-3"></i> przykładowy telefon</p>
            
          </div>
          <!-- Grid column -->

          
        </div>
        <!-- Grid row -->
      </div> 
    </section>
    <!-- Section: Links  -->
    <!-- Mobile version download -->
    <div class="text-center p-4">
        <button class="btn btn-outline-dark btn-icon-text"> 
            <i class="fa fa-apple btn-icon-prepend mdi-36px"></i>
            <span class="d-inline-block text-left"> 
            <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> 
            <button class="btn btn-outline-dark btn-icon-text"> <i class="fa fa-android btn-icon-prepend mdi-36px"></i> 
            <span class="d-inline-block text-left"> 
            <small class="font-weight-light d-block">Get it on the</small> Google Play </span> </button> 
      </div>
    <!-- Mobile version download -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#!">PLX.pl</a>
    </div>
    <!-- Copyright -->
  </footer>