<div class="container text-center">
    <h3 class="mb-4 mt-4 pt-2">Ogłoszenia proponowane:</h1>
        <hr class="my-4 bg-dark" style="max-width:1080px ; margin:auto ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="przedmiot.png" class="card-img-top" alt="">
                <div class="card-body">
                  <hr></hr>
                  <p class="card-text"><h4>Wiaderko do lodu ze szczypcami</p></h4>
                  <hr></hr>
                  <h6>Warszawa Piaseczno</h6>
                  <h5 class="ms-auto">50 zł</h5>
                  <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>                
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="przedmiot1.png" class="card-img-top" alt="">
                <div class="card-body">
                  <hr></hr>
                  <p class="card-text"><h4>Kosa z filmu "Czarodzieje i Magnaci"</p></h4>
                  <hr></hr>
                  <h6>Sosnowiec</h6>
                  <h5 class="ms-auto">13000 zł</h5>
                  <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="przedmiot2.png" class="card-img-top" alt="">
                <div class="card-body">
                  <hr></hr>
                  <p class="card-text"><h4>Nowoczesny grill dla amatorów grillowania</p></h4>
                  <hr></hr>
                  <h6>Podlasie</h6>
                  <h5 class="ms-auto">100 zł</h5>
                  
                  <a href="#" class="btn btn-secondary">Zobacz więcej</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>