<div class="container-fluid mt-4 mb-4">
    <form style="max-width:960px ; margin:auto " class="mt-4 pt-2">
        <div class="input-group mt-3 mx-auto my-auto " data-toggle="dropdown">
            <input type="search" class="form-control rounded" placeholder="Wpisz czego szukasz..." aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-warning">Szukaj</button>
        </div>
    </form>
</div>