<div class="container-fluid mt-4 mb-4">
    <form style="max-width:960px ; margin:auto " class="mt-4 pt-2" action="/add/search" method="POST">
        <div class="input-group mt-3 mx-auto my-auto " data-toggle="dropdown">
            <input type="text" class="form-control rounded" placeholder="Wpisz czego szukasz..." aria-label="Search"
                aria-describedby="search-addon" name="text" id="text"/>
            <button type="submit" class="btn btn-warning text-dark">Szukaj</button>
        </div>
    </form>
</div>