<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container px-5 my-5">
    <form id="contactForm"action="/add" method="post">
        <div class="mb-3">
            <label class="form-label" for="tytulOgloszenia">Tytuł ogłoszenia:</label>
            <input class="form-control" id="tytulOgloszenia" type="text" placeholder="Tytuł ogłoszenia:"/>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.min.js"></script> 