<link href="/css/bootstrap.min.css" rel="stylesheet">
<div class="container px-5 my-5">
    <form id="contactForm"action="/add" method="post">
        <div class="mb-3">
            <label class="form-label" for="tytulOgloszenia">Tytuł ogłoszenia:</label>
            <input class="form-control" id="tytulOgloszenia" type="text" placeholder="Tytuł ogłoszenia:"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="kategoria">Kategoria:</label>
            <select class="form-select" id="kategoria" aria-label="Kategoria:">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="opisOgloszenia">Opis ogłoszenia:</label>
            <textarea class="form-control" id="opisOgloszenia" type="text" placeholder="Opis ogłoszenia:" style="height: 10rem;"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="numerTelefonu">Numer telefonu:</label>
            <input class="form-control" id="numerTelefonu" type="text" placeholder="Numer telefonu:" />
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.min.js"></script> 