<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalogowano</title>
</head>
<body>
    <h1>Jeśli widzisz tą wiadomość, logowanie przebiegło pomyślnie.</h1>
</body>
</html>