<!DOCTYPE html>
<html lang="pl">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <form style ="max-width:480px ; margin:auto ">
            <div class="input-group mt-3 mx-auto m " data-toggle="dropdown">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" />
                   <button type="button" class="btn btn-outline-primary">search</button>
               </div>
        </form>
      
    </select>
   
</div>

     

<script src="js/bootstrap.min.js"></script>

</body>
</html>