<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLX - twój portal z ogłoszeniami lokalnymi.</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sukces!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Twoje ogłoszenie zostało dodane!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Dodaj kolejne</button>
        <button type="button" class="btn btn-outline-success ">Przejdź na stronę główną</button>
      </div>
    </div>
  </div>
</div>

  <script src="/js/bootstrap.min.js"></script>
   
</body>
</html>